*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Urbanist', sans-serif;
}

.App{
  background-color: white;
  width: 70%;
  position: relative;
  left: 12.5%;
  padding: 0% 3%;
  box-shadow: 0 0 20px -5px;
}

body{
  background-image: url('./img/i-like-food.svg');
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(150, 148, 148, 0.589);
  margin-bottom: 45px;
  /* position: sticky;
  top: 0; */
  background-color: #fff;
  z-index: 2;
}

.navbar_checkBtn{
  font-size: 30px;
  float: right;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.navbar img{
  width: 100px;
  height: 50px;
  object-fit: cover;
  transition: .5s ease;
}

.navbar img:hover{
  transform: rotateY(180deg)
}

.navbar_links ul{
  list-style-type: none;
  display: flex;
  margin: 10px 0px;

}

.navbar_links ul li > a{
  text-decoration: none;
  margin: 15px;
  display: flex;
  color: black;
  font-weight: 400;
  transition: .3s all ease-in-out;
}

.navbar_links ul li > a:hover{
  color: orange;
}

.navbar_input input{
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 4px;
  padding: 3px 19px;
  width: 100%;
}

/* Home page */

.home_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 50px;
}

.home_right img{
  width: 100%;
  transition: .3s ease;
}


.home_right img:hover{
  transform: rotate(10deg);
}

.home_left p{
 color: rgb(105, 101, 101);
 font-weight: 500;
 font-size: 0.9rem;
}

/* .home_left button{
  
} */

.home_button_left{
  padding: 1% 3%;
  margin: 3% 3% 3% 0;
  border: 1px solid rgba(121, 118, 118, 0.801);
  border-radius: 3px;
  font-weight: 700;
  transition: .3s all ease-in-out;
  cursor: pointer;
  position: relative;
  background: black;
  color: orange;
  box-shadow: 0px 0px 7px 3px;
}

.home_button_left:hover{
  color: greenyellow;
}


.typewriter{
  font-size: 2.4rem;
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Kablammo', cursive;
}

.typewriter span{
  background: linear-gradient(90deg, green, yellow, red);
  border-radius: 10px;
  padding-right: 1%;
  font-family: 'Sirin Stencil', cursive;
  margin-left: 5px;
  /* box-shadow: 0px 0px 10px 2px; */
  color: black;
}


.home_categories_container{
  display: flex;
  width: 100%;
  text-align: center;
}

.home_categories_container img{
  width: 85%;
  border-radius: 10px;
  height: 70%;
  object-fit: cover;
  transition: .3s ease;
  cursor: pointer;
  box-shadow: 0 0 20px -5px;
}

.home_categories_container img:hover{
  width: 80%;
}

.home_categories_container p{
  font-weight: 600;
}

.home_categories_container img:hover+p{
  color: #0B52BE;
}

.home_categories_container a{
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
  margin-bottom: 40px;
}


/* Latest Recipe Page */

.latest_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.latest_header a{
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.latest_api_container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub_latest_api_container{
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.latest_api_container img{
  width: 195px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: .2s ease;
  box-shadow: 0 0 7px -1px;
  cursor: pointer;
}

.latest_api_container img:hover{
  box-shadow: 0 0 10px 1px;
}

.latest{
  margin-bottom: 20px;
}

.latest_api_container img:hover+p{
  color: #0B52BE;
}

.sub_latest_api_container a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Thai Recipes Page */


.ethiopian_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ethiopian_header a{
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.ethiopian_api_container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub_ethiopian_api_container{
  color: black;
  font-size: 0.9rem;
  font-weight: bold;

}

.ethiopian_api_container img{
  width: 195px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: .2s ease;
  box-shadow: 0 0 7px -1px;
  cursor: pointer;
}

.ethiopian_api_container img:hover{
  box-shadow: 0 0 10px 1px;

}

.ethiopian{
  margin-bottom: 20px;
}

.ethiopian_api_container img:hover+p{
  color: #0B52BE;
}

.sub_ethiopian_api_container a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Thai Recipes Page */

.thai_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.thai_header a{
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.thai_api_container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub_thai_api_container{
  color: black;
  font-size: 0.9rem;
  font-weight: bold;

}

.thai_api_container img{
  width: 195px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: .3s ease;
  box-shadow: 0 0 7px -1px;
  cursor: pointer;
}

.thai_api_container img:hover{
  box-shadow: 0 0 10px 1px;
}

.thai{
  margin-bottom: 20px;
}

.thai_api_container img:hover+p{
  color: #0B52BE;
}

.sub_thai_api_container a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

/* American Recipes Page */

.american_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.american_header a{
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.american_api_container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub_american_api_container{
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.american_api_container img{
  width: 195px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: .3s ease;
  box-shadow: 0 0 7px -1px;
  cursor: pointer;
}

.american_api_container img:hover{
  box-shadow: 0 0 10px 1px;
}

.american{
  margin-bottom: 20px;
}

.american_api_container img:hover+p{
  color: #0B52BE;
}

.sub_american_api_container a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Chinese Recipes Page */

.chinese_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chinese_header a{
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.chinese_api_container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub_chinese_api_container{
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.chinese_api_container img{
  width: 195px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: .3s ease;
  box-shadow: 0 0 7px -1px;
  cursor: pointer;
}

.chinese_api_container img:hover{
  box-shadow: 0 0 10px 1px;

}

.chinese{
  margin-bottom: 20px;
}

.chinese_api_container img:hover+p{
  color: #0B52BE;
}

.sub_chinese_api_container a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Mexican Recipes Page */

.mexican_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.mexican_header a{
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}

.mexican_api_container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub_mexican_api_container{
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.mexican_api_container img{
  width: 195px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: .3s ease;
  box-shadow: 0 0 7px -1px;
  cursor: pointer;
}

.mexican_api_container img:hover{
  box-shadow: 0 0 10px 1px;
}

.mexican{
  margin-bottom: 90px;
}

.mexican_api_container img:hover+p{
  color: #0B52BE;
}

.sub_mexican_api_container a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Publish Recipe Page */

.publish{
  text-align: center;
  padding-bottom: 100px;
}

.publish h1{
  font-size: 3.2rem;
  color: rgb(27, 27, 27);
}

.publish_button{
  background: black;
  color: white;
  padding: 1% 3%;
  margin: 3% 3% 3% 0;
  border: 1px solid rgba(121, 118, 118, 0.801);
  border-radius: 3px;
  font-weight: 700;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.publish_button:hover{
  background: white;
  color: black;
  box-shadow: 0 0 20px -1px;
}

/* Submit Recipe Page */


.submit_header{
  text-align: center;
  margin-bottom: 100px;
}

.submit_header h1{
  font-size: 2.7rem;
  color: rgb(27, 27, 27);
}

.submit_header h1 span{
  color: #0B52BE;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

.submit_header p{
  color: rgb(105, 101, 101);
  font-weight: 500;
  font-size: 1rem;
}

.submit form input{
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 4px;
  padding: 3px 19px;
  width: 100%;
}

::-webkit-file-upload-button{
  background-color: #0B52BE;
  color: white;
  border: 1px solid rgba(121, 118, 118, 0.801);
  border-radius: 3px;
  /* font-weight: 100; */
  transition: .3s all ease-in-out;
  cursor: pointer;
}

::-webkit-file-upload-button:hover{
  background: white;
  color: black;
  box-shadow: 0 0 20px -1px;
}

.submit form textarea{
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 4px;
  padding: 3px 19px;
  width: 100%;
}

.submit form{
  padding: 0 13%;
}

.submit form p{
  font-weight: 800;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.select{
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 4px;
  padding: 3px 19px;
  width: 106%;
}

.submit form button{
  background: #0B52BE;
  color: white;
  padding: 1% 3%;
  margin: 3% 3% 3% 0;
  border: 1px solid rgba(121, 118, 118, 0.801);
  border-radius: 3px;
  font-weight: 700;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.submit form button:hover{
  background: white;
  color: black;
  box-shadow: 0 0 20px -1px;
}

.submit form label{
  color: red;
  font-weight: bold;
  font-size: 0.9rem;
  position: relative;
  top: -23px;
}

.credit{
  font-weight: 800;
  font-size: 0.9rem;
  padding-bottom: 100px;
}

/* List Recipes Page */

.list_container{
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
}

.list_left img{
  width: 90%;
}

.list_right p{
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.list_hr{
  border: none;
  height: 1px;
  background: #dddddd;
}

.list_icon{
  color: green;
  position: relative;
  top: 6px;
}

/* All Latest Recipes */

.allLatest_header h2{
  margin-bottom: 70px;
}

.allLatest_header a{
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.allLatest_api_container{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.sub_allLatest_api_container{
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0.5% 5.5%;
  margin-bottom: 70px;
}

.allLatest_api_container img{
  width: 195px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: .3s ease;
  cursor: pointer;
  box-shadow: 0 0 7px -1px;
  /* margin: 12%; */
}

.allLatest_api_container img:hover{
  box-shadow: 0 0 10px 1px;
}

.allLatest{
  margin-bottom: 20px;
  /* height: 350px; */
}

.allLatest_api_container img:hover+p{
  color: #0B52BE;
}

.sub_allLatest_api_container a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Search Page */



.search_api_container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sub_search_api_container{
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.search_api_container img{
  width: 195px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  transition: .3s ease;
  box-shadow: 0 0 10px 1px;
  cursor: pointer;
  background-color: #0B52BE;
}

.search_api_container img:hover{
  box-shadow: 0 0 7px -1px;
}

.search_api_container img:hover+p{
  color: #0B52BE;
}

.sub_search_api_container a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}

.sub_search_api_container img{
  margin-right: 40px;
}

.sub_search_api_container p{
  margin-bottom: 40px;
}

.latest_api_container p, .ethiopian_api_container p, .thai_api_container p, .american_api_container p, .chinese_api_container p, .mexican_api_container p{
  margin-bottom: 15px;
}


/* About us page */

.about{
  text-align: center;
}

.about_header{
  padding-bottom: 6%;
  padding-top: 2%;
  padding-left: 8%;
  padding-right: 8%;
}

.about_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3%;
}

.sub-about-container{
  box-shadow: 0px 0px 4px 1px;
  margin: 5%;
  padding: 12%;
  transition: .7s ease;
  border-radius: 10px;
}

.sub-about-container:hover{
  background: #1a1919;
  color: white;
}

.sub-about-container div{
  height: 5px;
  background: #85C4F4;
  width: 50px;
  position: relative;
  left: 37%;
  margin-bottom: 12%;
  margin-top: 2%;
  border-radius: 5px;
}

.sub-about-container p{
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.about-icon{
  font-size: 1.9rem;
}

.about_footer{
  padding: 2%;
  padding-left: 2%;
  background-color: #d1cdcdc5;
  border-radius: 10px;
}

.about_span{
  color: #0f59c9;
}

/* Contact us page */

.container.contact__container{
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  width: 90%;
}

.contact h5, h2{
  margin-bottom: 2%;
}

.me{
  color: #0f59c9;
}

.contact__options{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: max-content;
}

.contact__option{
  background-color: rgb(255, 255, 255);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: .3s ease;
  border-color: #85C4F4;
  box-shadow: 0px 0px 5px -1px;
}

.contact__option:hover{
  background: transparent;
  border-color: blue;
  box-shadow: 0px 0px 1px -1px
}

.contact__option:hover .contact-icon{
  transition: .6s ease;
  transform: rotate(360deg);
}

.contact-icon{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  transform: rotate(1deg);
  color: #0B52BE;
}

.contact__option a{
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  color: #0B52BE;
}

.contact_form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_form input,.contact_form textarea{
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid rgba(60, 60, 151, 0.479);
  resize: none;
  color: white;
}

.contact_form button{
  border: none;
  background-color: #0B52BE;
  color: white;
  width: 30%;
  padding: 3%;border-radius: 5px;
  margin-bottom: 15%;
  transition: .5s ease;
  font-size: 1rem;
}

.contact_form button:hover{
  color: #0B52BE;
  background: white;
  box-shadow: 0px 0px 4px 2px;
}

/* Loading  */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Design */

/* Media Query for medium devices */

@media screen and (max-width: 1024px){
  .container.contact__container{
      grid-template-columns: 1fr;
      gap: 2rem;
  }
  .contact__options{
      width: 100%;
  }
}

/* Media Query for small devices */

@media screen and (max-width: 600px){
  .container.contact__container{
      width: 300px;
  }
  .home_right img{
    display: none;
  }
  .home{
    margin-bottom: 20px;
  }
  .home_container{
    display: flex;   
    margin-bottom: 20px;
  }

  .typewriter{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .latest_api_container{
    width: 100%;
  }
  .about_container{
    display: block;
    margin: 0;
    padding: 0;
  }
  .sub-about-container{
    box-shadow: 0px 0px 4px -1px;
    margin: 4% 15%;
    padding: 3% 0%;
    width: 70%;
    transition: .7s ease;
  }

  .sub-about-container div{
    height: 5px;
    background: #85C4F4;
    width: 50px;
    position: relative;
    left: 44%;
    margin-bottom: 5%;
    margin-top: 2%;
    border-radius: 5px;
  }
 
} 


 /* Media Query for medium devices */

@media screen and (max-width: 1238px){
  .latest_api_container img, .ethiopian_api_container img, .thai_api_container img, .american_api_container img, .chinese_api_container img, .mexican_api_container img{
    justify-content: space-between;
  }
  .about_container h2{
    font-size: 1.5rem;
  }
  .typewriter{
    font-size: 1.5rem;
  }
}

/* Media Query for small devices */

@media screen and (max-width: 750px){

  .App{
    width: 100vw;
    position: relative;
    right: 0;
    left: 0;
    padding: 0% 2%;
  }

  .latest_api_container, .ethiopian_api_container, .thai_api_container, .american_api_container, .chinese_api_container, .mexican_api_container, .search_api_container{
    justify-content: space-around;
  }

  .latest_api_container p, .ethiopian_api_container p, .thai_api_container p, .american_api_container p, .chinese_api_container p, .mexican_api_container p, .search_api_container p{
    margin-bottom: 15px;
  }

  .latest_api_container img, .ethiopian_api_container img, .thai_api_container img, .american_api_container img, .chinese_api_container img, .mexican_api_container img, .search_api_container img, .allLatest_api_container img{
    width: 140px;
    height: 200px;
    justify-content: space-around;
  }

  .publish img{
    width: 100%;
  }

  .search_input{
    position: relative;
    top: 5px;
  }

  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
  }

  .navbar img{
    padding: 1% 0;
    width: 80px;
  }

  .container.contact__container{
      width: 300px;
  }
  .navbar_checkBtn{
    display: block;
    
  }

  .navbar_links{
    width: 100%;
    height: 50vh;
    position: fixed;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0px 0px 4px -1px;
    top: 57px;
    transition: .5s all;
    border-radius: 0 0 25px 25px;
    z-index: 3;
  }
  .navbar_links ul{
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }
  
  .navbar_links ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.445);
  }

  .navbar_links ul li:last-child{
    border: none;
  }

  .navbar_links ul li a{
    font-weight: 600;
    color: black;
    margin-top: 10%;
  }

  .navbar_links ul li a:hover, .navbar_links ul li a:active{
    color: #0B52BE;
  }

  .navbar_input{
    width: 100px;
    display: flex;
    align-items: center;
    
  }
  .search_input{
    width: 100px;
    font-size: 0.5rem;
    font-weight: 600;
  }

  .contact_form button{
    width: 50%;
  }
  .contact h5, h2{
    margin-bottom: 3%;
  }
} 


